.centered {
    position: fixed;
    top: 10%;
    left: 35%;
    margin-top: -50px;
    margin-left: -100px;
    margin-right: 20px;
  }

img {

  margin-left: 5%;

}

.combobox {
  width: 70%;
  height: 35px;
}

.cloudinary-button {
  margin:auto;
  display:block;
  margin-left: 30%;
  margin-top: 30px;
}